// COLLECTIONS
.collections
  .collections__head
    .container
      p.p-label COLLECTIONS
      .h1-title Try thematic collections of assets <br/>tailored to your preferences

  .collections__content
    .collections__swiper.swiper-container
      .swiper-wrapper
        .swiper-slide


