// dummy contents & instructions
// REMOVE COMPLEATLY, it have nothing to do with project code - examples only


// section
section.wow(style="margin-top: 50px; max-width: 400px;" data-animation-class="wowFadeRight")
  h2 UI
  form(js-validate)
    .ui-group
      label Phone-mask
      input(type="tel")
    .ui-group
      label Your message
      textarea(placeholder="What's up?" rows="5" data-min-rows="5")
    .ui-group
      .ui-checkbox
        input(type="checkbox" id="checkbox_1")
        label(for="checkbox_1")
          span I agree with <a href="#">Terms and conditions</a>

    button(type="submit").btn.btn-example Submit
