// FOOTER::START
footer.footer
  .container
    .row
      .col-sm-12

// SCRIPTS

//build:js js/scripts.min.js
script(src="components/jquery/dist/jquery.min.js")
script(src="components/magnific-popup/dist/jquery.magnific-popup.min.js")
script(src="components/owl.carousel/dist/owl.carousel.min.js")
script(src="js/libs/jquery.maskedinput.min.js")
script(src="js/main.js")
//endbuild
