head
  // MADE WITH LOVE BY <> SERGEY KHMELEVSKOY </>
  meta(charset="UTF-8")
  meta(name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no")
  title Site name
  //build:js js/main.min.js
  script(src="/js/lib/jquery-3.1.1.min.js")
  script(src="/js/main.js")
  //endbuild

  //build:css css/style.min.css
  <link rel="stylesheet" href="css/style.css" type="text/css" />
  //endbuild

  <!--[if lt IE 9]>
      <script src="bower_components/html5shiv/dist/html5shiv.js"></script>
  <![endif]-->
