
// SECONDARY STYLES


//build:css css/secondary.css
link(rel="stylesheet" href="css/secondary.css" type="text/css")
link(rel="stylesheet" href="css/icomoon.css" type="text/css")
//endbuild
        
        
// SCRIPTS

//build:js js/scripts.min.js
script(src="components/jquery/dist/jquery.min.js")
script(src="components/slick-carousel/slick/slick.min.js")
script(src="components/magnific-popup/dist/jquery.magnific-popup.min.js")
script(src="components/air-datepicker/dist/js/datepicker.min.js")
script(src="components/air-datepicker/dist/js/i18n/datepicker.en.js")
script(src="components/jquery-mask-plugin/dist/jquery.mask.min.js")
script(src="components/jquery-validation/dist/jquery.validate.min.js")
script(src="js/libs/jquery.scrollbar.min.js")
script(src="js/utilities.js")
script(src="js/validate.js")
script(src="js/main.js")
//endbuild
