// LAYOUT
$mobile: width <= 568px
$mobile-from: width >= 568px
$tablet: width <= 768px
$tablet-from: width >= 768px
$desktop: width <= 992px
$desktop-from: width >= 992px
$wide: width <= 1200px
$wide-from: width >= 1200px
$hd: width <= 1680px
$hd-from: width >= 1680px

// COLORS
$fontColor: #333
$colorGreen: #4ab68f
$colorRed: #f45b63
$colorYellow: #fda737
$colorOrange: #f46d36
