// HEADER :: START
header.header
  .container
    .header__wrapper
      .header__logo
        a.logo(href="/homepage.pug")
          +icon('icon-viber')
      .header__menu
        ul.header__menu__list
          - var list = ["Point 1", "Point 2", "Point 3"]
            each item in list
              li
                a.header__menu__link(href="#")=item
      
      .header__cta
        
// HEADER :: END
