---
title: Homepage
outClass: homepage
---
extends shared/_layout
block content

  include ../components/intro/_intro.pug
  include ../components/showcase/_showcase.pug
  include ../components/features/_features.pug
