---
title: Homepage title
bodyClass: homepage
---
extends shared/_layout
block content
  i.icon.icon-logo
  i.icon.icon-container
  // iteration example
  .socials
    - var socials = ['email','fb-messenger','skype','telegram','viber','whatup']
      each social in socials
        a(class="social-share" href="#" role="button")
          +icon('ico-'+social)
