// buttons
button
  &:focus
    outline: none

.btn
  display: inline-block
  position: relative
  text-align: center
  transition: all $transitionSpeed ease-in-out
  &:focus, &:active
    outline: none
