doctype html
html
  include shared/head.pug

  body
    include shared/header.pug

    //SECTION::START
    section.section
    //SECTION::END

    // HEADER::START
    footer.footer
    //HEADER::END
