doctype html
html
  include shared/head.pug

  body
    include shared/header.pug

    // SECTION::START
    section.section

    // OWL::START
    section.owl
      .container
        .row
          .col-sm-12
            .owl-carousel#owlFirst
              img(src="http://placehold.it/1200x300")
              img(src="http://placehold.it/1200x300")
              img(src="http://placehold.it/1200x300")

    // MAGNIFIC::START
    section.magnific
      .container
        .row
          .col-sm-12
            .popup-gallery
              a(href='http://farm9.staticflickr.com/8242/8558295633_f34a55c1c6_b.jpg', title='The Cleaner')
                img(src='http://farm9.staticflickr.com/8242/8558295633_f34a55c1c6_s.jpg', width='75', height='75')
              a(href='http://farm9.staticflickr.com/8382/8558295631_0f56c1284f_b.jpg', title='Winter Dance')
                img(src='http://farm9.staticflickr.com/8382/8558295631_0f56c1284f_s.jpg', width='75', height='75')
              a(href='http://farm9.staticflickr.com/8225/8558295635_b1c5ce2794_b.jpg', title='The Uninvited Guest')
                img(src='http://farm9.staticflickr.com/8225/8558295635_b1c5ce2794_s.jpg', width='75', height='75')
              a(href='http://farm9.staticflickr.com/8383/8563475581_df05e9906d_b.jpg', title='Oh no, not again!')
                img(src='http://farm9.staticflickr.com/8383/8563475581_df05e9906d_s.jpg', width='75', height='75')
              a(href='http://farm9.staticflickr.com/8235/8559402846_8b7f82e05d_b.jpg', title='Swan Lake')
                img(src='http://farm9.staticflickr.com/8235/8559402846_8b7f82e05d_s.jpg', width='75', height='75')
              a(href='http://farm9.staticflickr.com/8235/8558295467_e89e95e05a_b.jpg', title='The Shake')
                img(src='http://farm9.staticflickr.com/8235/8558295467_e89e95e05a_s.jpg', width='75', height='75')
              a(href='http://farm9.staticflickr.com/8378/8559402848_9fcd90d20b_b.jpg', title="Who's that, mommy?")
                img(src='http://farm9.staticflickr.com/8378/8559402848_9fcd90d20b_s.jpg', width='75', height='75')


    include shared/footer.pug
