// MADE WITH LOVE BY <> KHMELEVSKOY & ASSOCIATES </> www.khmelevskoy.co
meta(charset="utf-8")
title= title || 'Page name'
meta(http-equiv="X-UA-Compatible" content="IE=Edge")
meta(name="viewport" content="width=device-width, initial-scale=1")
meta(name="theme-color" content="#fff")
meta(name="format-detection" content="telephone=no")
// remove for production
meta(name="robots" content="noindex")
    
link(rel="stylesheet" media="all" href="css/app.css")
  
<!--[if lt IE 9]>
script(src='https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js')
script(src='https://oss.maxcdn.com/respond/1.4.2/respond.min.js')
<![endif]-->
