include _mixins
doctype html
html(lang="ru")
  head
    include _head

  body(class=bodyClass)
    .page(class=outClass)
      .page__content
        block header
          include ../components/_header
        block content

      block footer
        include ../components/_footer
      block scripts
        include _scripts
