// buttons
.btn
  &:focus, &:active
    outline: none

// generic modifiers
.btn--rounded
  border-radius: 50%

.btn--outline
  border: 1px solid transparent
  &:hover

.btn--abosulte-ico
  .ico
    position: absolute 50% 50%
    transform: translate(-50%, -50%)
