// STEPS
.steps
  margin: 190px 0
  &__head
    text-align: center
  &__content
    margin-top: 70px
  &__wrapper
    display: flex
    margin: -15px
  &__slider
    display: none
  &__sections, &__sticky
    width: 100%
    min-width: 1px
    min-height: 0
    flex: 0 0 50%
    max-width: 50%
    padding: 15px

  &__section
    height: 780px
    padding-top: 180px
    display: flex
    flex-direction: column
    // justify-content: center
  &__text
    flex: 1 0 auto
    display: flex
    flex-direction: column
    padding-left: 48px
    p
      max-width: 404px
  &__cta
    margin-top: auto
    padding-bottom: 120px
  &__sticky
    display: flex
    justify-content: center
    align-items: flex-start
  &__sticky-wrapper
    position: sticky
    top: calc(50vh - 380px)
  &__p-image
    // phone__image instance
    will-change: opacity
    opacity: 0
    transition: opacity .3s $ease
    &.is-active
      opacity: 1

+r($lg)
  .steps
    &__text
      padding-left: 0

+r($md)
  .steps
    &__wrapper
      display: none
    &__slider
      margin-left: -40px
      margin-right: -40px
      padding-left: 40px
      padding-right: 40px
      display: block
      .swiper-slide
        width: 50%
        flex: 0 0 50%
        max-width: 50%
      .swiper-pagination
        margin-top: 36px
    &__slide
      padding-right: 30px

+r($sm)
  .steps
    margin: 145px 0
    &__content
      margin-top: 30px
    &__slider
      margin-left: -16px
      margin-right: -16px
      padding-left: 16px
      padding-right: 16px
      .swiper-slide
        width: 100%
        flex: 0 0 100%
        max-width: 100%
    &__slide
      padding-right: 0
      text-align: center
      .phone
        max-width: 260px
      .p-regular
        max-width: 330px
        margin-left: auto
        margin-right: auto
