.demo-grid {
  display: none;
  font-size: 0;
  pointer-events: none;
  position: fixed 0;
  z-index: 99;
  .row {
    display: flex;
    margin: 0 -10px;
  }
  .col {
    width: 100%;
    min-width: 1px;
    min-height: 0;
    flex: 0 0 $col1;
    max-width: $col1;
    padding: 0 10px;
    div {
      background-color: rgba(255, 0, 0, 0.1);
      height: 100vh;
    }
  }
}

@include r($md) {
  .demo-grid {
    .col {
      flex-basis: $col2;
      max-width: $col2 !important;

      &:nth-child(n + 7) {
        display: none;
      }
    }
  }
}

[js-show-grid] {
  align-items: center;
  background: $fontColor;
  border-radius: 50%;
  bottom: 20px;
  color: white;
  cursor: pointer;
  display: flex;
  font-size: 12px;
  justify-content: center;
  left: 20px;
  position: fixed;
  size: 50px;
  text-transform: uppercase;
  transition: opacity 0.25s $ease;
  z-index: 99;

  &:hover {
    opacity: 0.75;
  }

  &.is-active {
    opacity: 0.5;
  }
}
