// GRID TEST (remove on production)
.demo-grid
  .container
    .row
      .col
        div
      .col
        div
      .col
        div
      .col
        div

      .col
        div
      .col
        div
      .col
        div
      .col
        div

      .col
        div
      .col
        div
      .col
        div
      .col
        div

div(js-show-grid)
  span grid
