/* 0. VARS */
/* LAYOUT */
/* COLORS */
/* OPTIONS */
/* SOCIALS */

/* 1. Layout */
/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Open+Sans&subset=cyrillic');
* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    outline: none;
}
a {
    color: inherit;
    text-decoration: none;
}
a:hover, a:focus, a:visited {
    text-decoration: none;
}
ul {
    list-style: none;
}
ul li {
    display: inline-block;
}
body, html {
    overflow-x: hidden;
    margin: 0;
    min-width: 320px;
    max-width: 100%;
    background: white;
    color: #333;
    font-size: 16px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.container {
    margin-right: auto;
    margin-left: auto;
    padding-right: 20px;
    padding-left: 20px;
    max-width: 1200px;
}
/* CUSTOM 6 COL FLEX GRID */
.row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-right: -15px;
    margin-left: -15px;
}
.row--wrap {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
}
.row--column {
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
}
.row--aic {
    -webkit-align-items: center;
            align-items: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
}
.row--jcsb {
    -webkit-justify-content: space-between;
            justify-content: space-between;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
}
.row--jcsa {
    -webkit-justify-content: space-around;
            justify-content: space-around;
        -ms-flex-pack: distribute;
}
.row--jcc {
    -webkit-justify-content: center;
            justify-content: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
}
.row--jcfe {
    -webkit-justify-content: flex-end;
            justify-content: flex-end;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
}
.row--jcfs {
    -webkit-justify-content: flex-start;
            justify-content: flex-start;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
}
.row--condenced {
    margin-right: 0;
    margin-left: 0;
}
.row--condenced .col {
    padding-right: 0;
    padding-left: 0;
}
@media(max-width: 992px) {
    .row {}
    .row--wrap--desktop {
        -webkit-flex-wrap: wrap;
            -ms-flex-wrap: wrap;
                flex-wrap: wrap;
    }
    .row--column--desktop {
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
    }
    .row--aic--desktop {
        -webkit-align-items: center;
                align-items: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
    }
    .row--jcsb--desktop {
        -webkit-justify-content: space-between;
                justify-content: space-between;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
    }
    .row--jcsa--desktop {
        -webkit-justify-content: space-around;
                justify-content: space-around;
            -ms-flex-pack: distribute;
    }
    .row--jcc--desktop {
        -webkit-justify-content: center;
                justify-content: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
    }
    .row--jcfe--desktop {
        -webkit-justify-content: flex-end;
                justify-content: flex-end;
        -webkit-box-pack: end;
            -ms-flex-pack: end;
    }
    .row--jcfs--desktop {
        -webkit-justify-content: flex-start;
                justify-content: flex-start;
        -webkit-box-pack: start;
            -ms-flex-pack: start;
    }
}
@media(max-width: 768px) {
    .row {}
    .row--wrap--tablet {
        -webkit-flex-wrap: wrap;
            -ms-flex-wrap: wrap;
                flex-wrap: wrap;
    }
    .row--column--tablet {
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
    }
    .row--aic--tablet {
        -webkit-align-items: center;
                align-items: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
    }
    .row--jcsb--tablet {
        -webkit-justify-content: space-between;
                justify-content: space-between;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
    }
    .row--jcsa--tablet {
        -webkit-justify-content: space-around;
                justify-content: space-around;
            -ms-flex-pack: distribute;
    }
    .row--jcc--tablet {
        -webkit-justify-content: center;
                justify-content: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
    }
    .row--jcfe--tablet {
        -webkit-justify-content: flex-end;
                justify-content: flex-end;
        -webkit-box-pack: end;
            -ms-flex-pack: end;
    }
    .row--jcfs--tablet {
        -webkit-justify-content: flex-start;
                justify-content: flex-start;
        -webkit-box-pack: start;
            -ms-flex-pack: start;
    }
}
@media(max-width: 568px) {
    .row {}
    .row--wrap--mobile {
        -webkit-flex-wrap: wrap;
            -ms-flex-wrap: wrap;
                flex-wrap: wrap;
    }
    .row--column--mobile {
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
    }
    .row--aic--mobile {
        -webkit-align-items: mobile;
                align-items: mobile;
        -webkit-box-align: mobile;
            -ms-flex-align: mobile;
    }
    .row--jcsb--mobile {
        -webkit-justify-content: space-between;
                justify-content: space-between;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
    }
    .row--jcsa--mobile {
        -webkit-justify-content: space-around;
                justify-content: space-around;
            -ms-flex-pack: distribute;
    }
    .row--jcc--mobile {
        -webkit-justify-content: center;
                justify-content: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
    }
    .row--jcfe--mobile {
        -webkit-justify-content: flex-end;
                justify-content: flex-end;
        -webkit-box-pack: end;
            -ms-flex-pack: end;
    }
    .row--jcfs--mobile {
        -webkit-justify-content: flex-start;
                justify-content: flex-start;
        -webkit-box-pack: start;
            -ms-flex-pack: start;
    }
}
/* Desktop first method */
.col {
    -webkit-flex-grow: 0;
            flex-grow: 0;
    -webkit-flex-shrink: 1;
            flex-shrink: 1;
    padding-right: 15px;
    padding-left: 15px;
    min-width: 0;
    min-height: 1px;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
        -ms-flex-negative: 1;
}
.col--1-6 {
    -webkit-flex-basis: 16.6%;
            flex-basis: 16.6%;
        -ms-flex-preferred-size: 16.6%;
}
.col--2-6 {
    -webkit-flex-basis: 33.3%;
            flex-basis: 33.3%;
        -ms-flex-preferred-size: 33.3%;
}
.col--3-6 {
    -webkit-flex-basis: 50%;
            flex-basis: 50%;
        -ms-flex-preferred-size: 50%;
}
.col--4-6 {
    -webkit-flex-basis: 66.4%;
            flex-basis: 66.4%;
        -ms-flex-preferred-size: 66.4%;
}
.col--5-6 {
    -webkit-flex-basis: 83%;
            flex-basis: 83%;
        -ms-flex-preferred-size: 83%;
}
.col--full {
    -webkit-flex-basis: 100%;
            flex-basis: 100%;
        -ms-flex-preferred-size: 100%;
}
.col--1-4 {
    -webkit-flex-basis: 25%;
            flex-basis: 25%;
        -ms-flex-preferred-size: 25%;
}
.col--3-4 {
    -webkit-flex-basis: 75%;
            flex-basis: 75%;
        -ms-flex-preferred-size: 75%;
}
.col--auto {
    -webkit-flex: 1 1 auto;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    -webkit-box-flex: 1;
}
.col--grow {
    -webkit-flex-grow: 1;
            flex-grow: 1;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
}
.col--no-shrink {
    -webkit-flex-shrink: 0;
            flex-shrink: 0;
        -ms-flex-negative: 0;
}
@media(max-width: 992px) {
    .col {}
    .col--full--desktop {
        -webkit-flex-basis: 100%;
                flex-basis: 100%;
            -ms-flex-preferred-size: 100%;
    }
    .col--auto--desktop {
        -webkit-flex-basis: auto;
                flex-basis: auto;
            -ms-flex-preferred-size: auto;
    }
    .col--grow--desktop {
        -webkit-flex-grow: 1;
                flex-grow: 1;
        -webkit-box-flex: 1;
            -ms-flex-positive: 1;
    }
}
@media(max-width: 768px) {
    .col {}
    .col--full--tablet {
        -webkit-flex-basis: 100%;
                flex-basis: 100%;
            -ms-flex-preferred-size: 100%;
    }
    .col--auto--tablet {
        -webkit-flex-basis: auto;
                flex-basis: auto;
            -ms-flex-preferred-size: auto;
    }
    .col--grow--tablet {
        -webkit-flex-grow: 1;
                flex-grow: 1;
        -webkit-box-flex: 1;
            -ms-flex-positive: 1;
    }
}
@media(max-width: 568px) {
    .col {}
    .col--full--mobile flex-basismobile 100% {}
    .col--auto--tablet {
        -webkit-flex-basis: auto;
                flex-basis: auto;
            -ms-flex-preferred-size: auto;
    }
    .col--grow--mobile {
        -webkit-flex-grow: 1;
                flex-grow: 1;
        -webkit-box-flex: 1;
            -ms-flex-positive: 1;
    }
}
/* OFFSETS AND PADDINGS */
.offset {}
.offset--1-6 {
    margin-left: 16.6%;
}
.no-pad {
    padding-right: 0;
    padding-left: 0;
}
.no-pad-l {
    padding-left: 0;
}
@media(max-width: 568px) {
    .no-pad-l {
        padding-left: 15px;
    }
}
.no-pad-r {
    padding-right: 0;
}
@media(max-width: 568px) {
    .no-pad-r {
        padding-right: 15px;
    }
}
.hidden--desktop {
    display: block;
}
@media(max-width: 992px) {
    .hidden--desktop {
        display: none;
    }
}
.visible--desktop {
    display: none;
}
@media(max-width: 992px) {
    .visible--desktop {
        display: block;
    }
}
.visible--mobile {
    display: none;
}
@media(max-width: 568px) {
    .visible--mobile {
        display: block;
    }
}
/* HELPERS */
/* Margins */
.mt5 {
    margin-top: 5px;
}
.mt10 {
    margin-top: 10px;
}
.mt20 {
    margin-top: 20px;
}
.mt30 {
    margin-top: 30px;
}
.mt40 {
    margin-top: 40px;
}
.mt50 {
    margin-top: 50px;
}
.mt60 {
    margin-top: 60px;
}
.mt70 {
    margin-top: 70px;
}
.mt80 {
    margin-top: 80px;
}
.mt90 {
    margin-top: 90px;
}
.mt100 {
    margin-top: 100px;
}
/* Paddings */
.pt5 {
    padding-top: 5px;
}
.pt10 {
    padding-top: 10px;
}
.pt15 {
    padding-top: 15px;
}
.pt20 {
    padding-top: 20px;
}
.pt30 {
    padding-top: 30px;
}
.pt40 {
    padding-top: 40px;
}
.pt50 {
    padding-top: 50px;
}
.pt60 {
    padding-top: 60px;
}
.pt70 {
    padding-top: 70px;
}
.pt80 {
    padding-top: 80px;
}
.pt90 {
    padding-top: 90px;
}
.pt100 {
    padding-top: 100px;
}

/* 2. Elements */
/* UI */
/* THIS IS GROUPED INPUT WHERE DOM MANIPULATIONS IS REQUIRED */
/* label is used as a placeholder */
.input {
    position: relative;
}
.input--dynamic {
    margin-bottom: 15px;
    min-height: 40px;
    border-bottom: 1px solid $borderColor;
}
.input--dynamic label {
    position: absolute;
    bottom: 7px;
    display: block;
    font-weight: 600;
    font-size: 18px;
    -webkit-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
}
.input--dynamic input {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height: 30px;
    border: 0;
    background: transparent;
    color: $grayColor;
    font-weight: 600;
    font-size: 18px;
    -webkit-appearance: none;
}
.input--dynamic input:focus {
    outline: none;
}
.input--focused label {
    color: $grayColor;
    font-weight: 400;
    font-size: 12px;
    -webkit-transform: translate3d(0, -20px, 0);
            transform: translate3d(0, -20px, 0);
}
/* THIS IS REGULAR CLASS MODIFIER FOR THE INPUT IT */
.ui-input {
    display: block;
    padding: 12px 15px;
    width: 100%;
    border: 1px solid $borderColor;
    border-radius: 4px;
    background: white;
    color: $grayColor;
    -webkit-appearance: none;
}
.js-datepicker {
    background-image: svg-load('../../images/svg/calendar.svg');
    background-position: 95% center;
    background-size: 17px 17px;
    background-repeat: no-repeat;
}
/* Checkbox */
.ui-checkbox input {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
}
.ui-checkbox input:checked + label {}
.ui-checkbox input:checked + label:before {
    border-color: #4ab68f;
}
.ui-checkbox input:checked + label:after {
    -webkit-transform: translateY(-50%) scale(1);
        -ms-transform: translateY(-50%) scale(1);
            transform: translateY(-50%) scale(1);
}
.ui-checkbox label {
    position: relative;
    display: block;
    width: 100%;
    cursor: pointer;
}
.ui-checkbox label span {
    display: inline-block;
    padding-left: 35px;
    vertical-align: top;
    font-size: 14px;
    line-height: 1.3;
    cursor: pointer;
}
.ui-checkbox label:before {
    position: absolute;
    top: 50%;
    left: 0;
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 1px solid #AFB7C0;
    border-radius: 4px;
    background-color: white;
    content: ' ';
    vertical-align: middle;
    cursor: pointer;
    cursor: pointer;
    -webkit-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
}
.ui-checkbox label:after {
    position: absolute;
    top: 50%;
    left: 1px;
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: svg-load(../../images/svg/checkbox.svg);
    background-position: center;
    background-repeat: no-repeat;
    content: ' ';
    -webkit-transition: -webkit-transform .2s ease;
    transition: -webkit-transform .2s ease;
    transition: transform .2s ease;
    transition: transform .2s ease, -webkit-transform .2s ease;
    -webkit-transform: translateY(-50%) scale(0);
        -ms-transform: translateY(-50%) scale(0);
            transform: translateY(-50%) scale(0);
}
.ui-checkbox--chunk {
    margin-bottom: 5px;
    border: 1px solid rgba(236, 240, 241, 0.15);
    border-radius: 4px;
    background: rgba(255, 255, 255, 0.5);
    -webkit-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
}
.ui-checkbox--chunk label {
    padding: 11px 15px;
}
.ui-checkbox--chunk label:before {
    left: 15px;
}
.ui-checkbox--chunk label:after {
    left: 16px;
}
.ui-checkbox--chunk:hover {
    border-color: #ECF0F1;
    background: white;
}

/* 3. Modules */
/* THIS MIGHT INCLUDE HEADER, FOOTER AND OTHER */
/* COMMON ELEMENTS ACROSS THE SITE */
/* HEADER */
.header {
    position: absolute;
    right: 0;
    left: 0;
    height: 50px;
    background: white;
}
.header__wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-between;
            justify-content: space-between;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
}
.header--transformed {
    position: fixed;
    opacity: 0;
    -webkit-transform: translate3d(0, -80px, 0);
            transform: translate3d(0, -80px, 0);
}
.header--transformed .header__search {
    -webkit-transform: translate3d(0, 0px, 0);
            transform: translate3d(0, 0px, 0);
}
.header--fixed {
    opacity: 1;
    -webkit-transform: translate3d(0, 0px, 0);
            transform: translate3d(0, 0px, 0);
}
/* FOOTER */
.footer {
    -webkit-flex: 0;
        -ms-flex: 0;
            flex: 0 1 0%;
    -webkit-box-flex: 0;
}
/* INDEX PAGE */
.hero {
    opacity: 1;
}
/* SOME INNER PAGES CONTENT */

/*# sourceMappingURL=style.css.map */
