// INTRO
.intro
  .container
    .intro__content
      .intro__logo(data-aos="fade" data-aos-delay="1200")
        img(src='img/logo-boxed.png' srcset='img/logo-boxed@2x.png 2x')
      h1.h1-title(data-aos="fade-up") All-encompassing investment app for everyone
      p.p-huge(data-aos="fade-up" data-aos-delay="600") Welcome to Orca, a new kind of investment app where you can buy stocks and ETFs, learn how to do it, and leverage the potential of your saving regardless of your experie
