// FEATURES
.features
  position: relative
  z-index: 5
  margin: 400px 0
  &__head
    text-align: center
  &__content


.feature-card
  position: sticky
  top: calc(50vh + 52px - 265px - 80px)
  height: 800px
  transform: translateZ(0)
  will-change: transform, opacity
  &__wrapper
    position: relative
    z-index: 1
    overflow: hidden
    margin-top: 70px
    background: #111216
    height: 560px
    border-radius: 8px
