// FEATURES
.features
  .features__head
    .container
      .h1-title Embrace mindfulness <br/>when investing
  .features__content
    .container.container--narrow
      // .feature-card
      .feature-card.js-stack-scroll.js-set-height(data-stop=">992")
        .feature-card__wrapper
          .feature-card__content
            .feature-card__content-wrapper
              p.p-label EDUCATION & INVESTING TIPS
              .h2-title Learn and invest
              p.p-regular Everything new can be easy, if explained properly. You will find a lot of educational content written in an easy language you can understand and apply your knowledge right away.
              a(href="#").btn.btn-outline Visit Orca Academy
          .feature-card__image
            img(src="img/feature-1.png" srcset="img/feature-1@2x.png 2x")
      // .feature-card
      .feature-card.js-stack-scroll.js-set-height(data-stop=">992")
        .feature-card__wrapper
          .feature-card__content
            .feature-card__content-wrapper
              p.p-label TRAILING STOP
              .h2-title Use helpful tools
              p.p-regular Investing is risky. But you can take the risks under control. Use Trailing Stop to prevent your investment from losses and Postponed Order to invest even when the exchange is closed.
              a(href="#").btn.btn-outline Read More on Trailing Stop
          .feature-card__image.feature-card__image--top
            img(src="img/feature-2.png" srcset="img/feature-2@2x.png 2x")
      // .feature-card
      .feature-card.js-stack-scroll.js-set-height(data-stop=">992")
        .feature-card__wrapper
          .feature-card__content
            .feature-card__content-wrapper
              p.p-label BREAKDOWNS
              .h2-title Be in the know
              p.p-regular Get detailed insights of your portfolio, read the latest news, gather analytics in Orca and make your own decision in what to invest next.
          .feature-card__image
            img(src="img/feature-3.png" srcset="img/feature-3@2x.png 2x")
      // .feature-card
      .feature-card.js-stack-scroll.js-set-height(data-stop=">992")
        .feature-card__wrapper
          .feature-card__content
            .feature-card__content-wrapper
              p.p-label PORTFOLIO REBALANCE
              .h2-title Diversify and customise
              p.p-regular Explore over 250+ stocks and ETFs, follow them in your Watchlist, monitor their performance and invest in various assets to harness the full potential of your savings.
              a(href="#").btn.btn-outline Read More on Portfolio Diversification
          .feature-card__image.feature-card__image--top
            img(src="img/feature-4.png" srcset="img/feature-4@2x.png 2x")
