// FEATURES
.features
  .features__head
    .container
      .h1-title Embrace mindfulness <br/>when investing
  .features__content
    .container.container--narrow
      // .feature-card
      .feature-card.js-stack-scroll
        .feature-card__wrapper
      // .feature-card
      .feature-card.js-stack-scroll
        .feature-card__wrapper
      // .feature-card
      .feature-card.js-stack-scroll
        .feature-card__wrapper
      // .feature-card
      .feature-card.js-stack-scroll
        .feature-card__wrapper
