// showcase
.showcase
  margin-top: 120px
  &__grid
    display: flex
    flex-wrap: wrap
    margin: -15px
  &__col
    width: 100%
    min-width: 1px
    min-height: 0
    flex: 0 0 $col4
    max-width: $col4
    padding: 15px

  &__card
    img, picture
      max-width: 100%
    p
      max-width: 300px
