.ico-mono-arrow-fat {
  width: 0.62em;
  height: 1em;
  fill: #E76060;
}
.ico-mono-calendar {
  width: 1.1em;
  height: 1em;
  fill: #E76060;
}
.ico-mono-close {
  width: 1em;
  height: 1em;
  fill: #E76060;
}
.ico-mono-email {
  width: 1.4em;
  height: 1em;
  fill: #FFF;
}
