.ico-mono-email {
  width: 1.4em;
  height: 1em;
  fill: #FFF;
}
.ico-mono-logo {
  width: 3.22em;
  height: 1em;
  fill: #fff;
}
.ico-mono-social-facebook {
  width: 1em;
  height: 1em;
  fill: #fff;
}
.ico-mono-social-insta {
  width: 1em;
  height: 1em;
  fill: #fff;
}
.ico-mono-social-linkedin {
  width: 1em;
  height: 1em;
  fill: #fff;
}
.ico-mono-social-reddit {
  width: 1em;
  height: 1em;
  fill: #fff;
}
.ico-mono-social-twitter {
  width: 1em;
  height: 1em;
  fill: #fff;
}
