.ico-email {
  width: 1.4em;
  height: 1em;
  fill: #000;
}
.ico-fb-messenger {
  width: 1.02em;
  height: 1em;
  fill: #FFF;
}
.ico-skype {
  width: 1.14em;
  height: 1em;
  fill: none;
}
.ico-telegram {
  width: 1.18em;
  height: 1em;
  fill: #FFF;
}
.ico-viber {
  width: 4.03em;
  height: 1em;
  fill: initial;
}
.ico-whatup {
  width: 0.98em;
  height: 1em;
  fill: #FFF;
}
